.panel-group.steps-accordion {
  .panel-default {
    background-color: transparent;
    border: 0;
    .box-shadow(none);

    &.error {
      & > .panel-heading .panel-title .glyphicon-remove {
        display: inline-block;
      }
    }
    
    &.ok {
      & > .panel-heading .panel-title .glyphicon-ok {
        display: inline-block;
      }
    }

    & > .panel-heading {
      background: transparent;
      border: 0;
      margin-bottom: 20px;
      padding: 10px 0;

      .panel-title {
        font-size: 18px;

        .glyphicon {
          display: none;
        }

        a:hover,
        a:active,
        a:focus {
          color: @gris_oscuro;
          text-decoration: none;
        }

        span {
          font-size: 12px;
        }

        .edit {
          color: @gris;
          font-size: 13px;
          letter-spacing: 2px;
        }
      }

      & + .panel-collapse {
        & .panel-body {
          border-top: 0;
          padding: 0;

          .nav-tabs {
            border-bottom: 0;

            & > li {
              background-color: @gris_claro_mas;
              text-align: center;
              width: 50%;
              
              & > a {
                border: 0;
                border-radius: 0;
                margin: 0;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 3px;
                color: @blanco;
                text-transform: uppercase;

                &:hover {
                  background-color: @gris_claro;
                }
              }

              &.active {
                background-color: @gris_claro;
                
                & > a,
                & > a:hover,
                & > a:focus {
                  background-color: @blanco;
                  border: 0;
                  color: @gris;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .box {
      .subtitle {
        .subtitle();
      }

      a {
        color: @azul;
        text-decoration: none;

        &:hover {
          color: darken(@azul, 10%);
        }
      }

      .delivery-form {
        .btn {
          margin-bottom: 20px;
        }
      }

      .well.well-sm {
        background: @blanco_roto;
        font-size: 12px;
      }

      .table-header {
        border-bottom: 2px solid @gris;
        margin-bottom: 10px;

        .subtitle {
          text-align: left;
          display: inline;
          margin-bottom: 0;
        }

        .delivery-time {
          color: @gris_oscuro;
          
          em {
            font-weight: 700;
            font-style: normal;

            &.partial {
              display: none;
            }

            &.unique {
              display: inline;
            }
          }

          &.partial {
            em.partial {
              display: inline;
            }

            em.unique {
              display: none;
            }
          }
        }
      }

      table {
        & > thead {
          & > tr {
            & > th {
              font-weight: 300;
            }
          }
        }

        & > tbody {
          & > tr {
            & > td {
              vertical-align: middle;

              &.warning-alert {
                border-top: 0;

                .alert {
                  margin-bottom: 0;
                  padding: 5px 15px;
                }
              }

              &.price {
                .price();
                text-align: center;
                .old-price {
                  font-size: 14px;
                  display: initial;
                  margin: 0;
                  padding: 0;
                }
                .last-price {
                  font-size: 14px;
                  display: block;
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .coupon-form {
        margin-bottom: 20px;
        text-align: center;
      }

      .alert {
        .close{
          border: 0;
          color: @gris;
          font-weight: 700;
          text-decoration: uppercase;

          &:hover {
            background-color: transparent;
            color: @gris_oscuro;
          }
        }
      }

      .footer-price {
        border-top: 1px solid @gris_claro_mas;
        margin-bottom: 20px;

        p {
          margin: 10px 0 0;
          text-align: right;
        }
      }

      .shipping-company-list {
        .company {
          margin-bottom: 10px;
          text-align: center;

          label {
            padding: 0;

            input[type="radio"] {
              margin: 0;
              opacity: 0;
              height: 25px;
              width: 25px;

              &:checked + .company-content {
                border-radius: 5px;
                box-shadow: 0 0 0 3px @azul;

                .check-thick {
                  opacity: 1;
                }
              }
            }

            .company-content {
              height: 200px;
              padding: 10px;
              width: 195px;

              .check-thick {
                opacity: 0;
                width: 20px;
                height: 20px;
                margin: 0 auto;
                background-color: @azul;
                border-radius: 50%;
                margin-bottom: 20px;

                .glyphicon {
                  color: @blanco;
                  font-size: 13px;
                }
              }

              .logo {
                background: url('../../imagenes/iconos/shipping-companies.gif') no-repeat;
                display: block;
                margin: 0 auto 20px;
                width: 100px;
                height: 40px;
              }

              .name {
                display: block;
                font-weight: 700;
              }

              .price {
                display: block;

                &:after {
                  content: '*';
                }
              }

              .mozo {
                margin-bottom: 0;

                label {
                  font-size: 12px;
                  margin-left: 20px;
                }
              }
            }

            &.asm .logo {
              background-position: 0px 0px;
            }
            
            &.dhl .logo {
              background-position: 0px -40px;
            }
            
            &.seur .logo {
              background-position: 0px -80px;
            }

            &.rhenus .logo {
              background-position: 0px -120px;
            }
          }
        }
      }

      .payment-method-form {
        .radio {
          border: 2px solid @gris_claro_mas;
          border-radius: 5px;
          margin-bottom: 20px;
          padding: 10px 25px;
          transition: .3s;

          &:hover,
          &.active {
            border: 2px solid @azul;
          }

          label {
            width: 100%;

            input[type="radio"] {
              opacity: 0;

              &:checked {
                color: @azul;
                position: relative;
                transform: .3s;

                & + .glyphicon {
                  display: block;
                }

                & + .glyphicon + .title {
                  color: @azul;
                  margin-left: 5px;
                }
              }
            }

            .glyphicon {
              color: @azul;
              display: none;
              position: absolute;
              left: 20px;
              top: 15px;
              line-height: 10px;
            }

            .title {
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 2px;
              line-height: 20px;
              color: @gris;
            }

            &:hover {
              .title {
                color: @azul;
              }
            }

            .payment-methods-list {
              font-size: 0;
              zoom: .6;

              li {
                background-image: url('../../imagenes/iconos/payment-methods-white.jpg');
                display: inline-block;
                height: 40px;
                width: 90px;

                &.visa {
                  background-position: 0 0;
                }
                &.visa-electron {
                  background-position: -90px 0;
                }
                &.mastercard {
                  background-position: -180px 0;
                }
                &.maestro {
                  background-position: -270px 0;
                }
                &.american-express {
                  background-position: -360px 0;
                }
                &.skrill {
                  background-position: -450px 0;
                }
                &.ideal {
                  background-position: -300px 0;
                }
                &.giropay {
                  background-position: -350px 0;
                }
                &.postepay {
                  background-position: -400px 0;
                }
                &.trustly {
                  background-position: -810px 0;
                }
                &.aplazame {
                  background-position: -900px 0;
                }
                &.sofort-banking {
                  background-position: -990px 0;
                }
                &.cb {
                  background-position: -150px -30px;
                }
                &.eps {
                  background-position: -200px -30px;
                }
                &.bank-transfer {
                  background-position: -1260px -0;
                }
                &.cod {
                  background-position: -1350px 0;
                }
              }
            }
          }
        }

        .panel-collapse {
          padding: 10px 25px;

          .credit-card {
            background-color: @gris_claro_mas;
            border: 1px solid darken(@gris_claro_mas, 10%);
            border-radius: 20px;
            height: 216px;
            margin-bottom: 10px;
            padding: 20px;
            text-align: center;
            width: 345px;
            position: relative;

            .label {
              background: @azul;
              cursor: pointer;
              font-weight: 300;
              position: absolute;
              top: 15px;
              right: -20px;
              width: 120px;
              white-space: inherit;
              z-index: 1;
              transition: .3s;

              &.error {
                background-color: @rojo;

                .glyphicon-remove-circle {
                  display: block;
                }
              }

              &.valid {
                background-color: @verde;

                .glyphicon-ok-circle {
                  display: block;
                }  
              }

              &:hover {
                box-shadow: 0 0 3px rgba(0,0,0,0.5);
              }

              .media-heading {
                color: @blanco;
                font-weight: 300;
                letter-spacing: 0;
                text-transform: none;
              }

              .glyphicon {
                color: @blanco;
                display: none;
                font-size: 20px;
              }
            }

            .form-group.has-error {
              .form-control {
                background-color: lighten(@rojo, 30%);
              }
            }

            .front {
              background: url('../../imagenes/card-chip.gif') no-repeat 10px 35px;
              .bank-title {
                color: @gris_claro;
                position: absolute;
                top: 15px;
                left: 30px;
                font-weight: 700;
                font-size: 25px;
              }

              .name-title {
                color: @gris_claro;
                position: absolute;
                bottom: 20px;
                left: 30px;
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
              }

              .type-title {
                color: @gris_claro;
                position: absolute;
                bottom: 15px;
                right: 30px;
                font-weight: 700;
                font-size: 25px;
                font-style: italic;
              }

              .card-number-group {
                display: block;
                
                .card-number {
                  font-size: 16px;
                  margin-top: 85px;
                  margin-bottom: 5px;
                }
              }

              .card-month,
              .card-year {
                font-size: 12px;
                height: 25px;
                margin: 0 5px 0 0px;
                padding: 0 5px;
              }
            }
            
            .rear {
              background: url('../../imagenes/card-band.gif') no-repeat bottom left;
              display: none;

              .magnet-band {
                background-color: @gris_claro;
                position: absolute;
                top: 20px;
                left: 0;
                height: 50px;
                width: 100%;
              }

              .card-cvc {
                height: 25px;
                margin: 80px 0 5px 150px;
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }  
}

.total {
  color: @negro;
  font-size: 16px;
}

.secure-warning {
  color: @gris;
  
  .secure-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .secure-text {
    font-size: 11px;
    margin-bottom: 0;
  }
}

.button-place {
  .btn {
    margin: 10px 0;
    width: 100%;
  }
}

// Resume
.resume {
  &.fixed {
    position: fixed;
    top: 100px;
  }

  h4 {
    color: @gris_oscuro;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 10px 0px;
  }

  .box {
    .well.well-sm {
      background-color: #d9edf7;
      background-image: none;
      border-color: #bce8f1;
      color: #31708f;

      p {
        text-align: center;
      }

      ul {
        font-size: 12px;
      }

      &.well-error {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
      }
    }

    .table-resume {
      & > tbody {
        & > tr {
          & > td {
            font-size: 12px;
            padding: 10px 5px;
            vertical-align: top;
          }

          &.coupon,
          &.shipping,
          &.total {
            text-transform: uppercase;

            td {
              border-top: 1px solid @gris_claro;

              label, span {
                text-transform: none;
              }
            }
          }

          &.total {
            td {
              color: @negro;
              font-size: 16px;
              text-transform: none;
            }
          }
        }
      }
      th {
        font-size: 11px;
        font-weight: 300;
      }
    }

    small {
      color: @gris_claro;
      display: block;
    }

    .invoice-form {
      border-bottom: 1px solid @gris_claro;
    }
  }

  .confirm-button {
    display: block;
    margin: 0 auto 20px;
  }

  .secure-warning {
    margin: 0 auto;
  }
}

.box {
  background-color: @blanco;
  color: @gris;
  margin-bottom: 20px;
  padding: 15px;
}

.secure-warning {
  display: table;

  .media-body {
    min-width: 200px;
    width: auto;

    p {
      display: inline;
    }
  }
}

.popover {
  font-size: 12px;
  width: 500px;
}

.table-responsive {
  border: 0;
}

@media (max-width: @md-max) {
  .panel-group.steps-accordion .panel-default .box .shipping-company-list .company label .company-content {
    width: 175px;
  }
}

@media (max-width: @sm-max) {
  .panel-group.steps-accordion .panel-default .box {
    .shipping-company-list .company label .company-content {
      width: 200px;
    }

    .payment-method-form .panel-collapse .credit-card {
      zoom: 0.85;
    }
  }

  .last-step {
    .total {
      margin-bottom: 20px;
      text-align: center;
    }

    .secure-warning {
      margin: 0 auto;
    }
  }

  .secure-warning {
    margin-bottom: 20px;
  }

  .button-place {
    display: block;
    padding-left: 0;
  }
}

@media (max-width: @xs-max) {
  .panel-group.steps-accordion .panel-default {
    & > .panel-heading {
      &+.panel-collapse .panel-body .nav-tabs>li>a {
        letter-spacing: 0;
      }
    }
    
    .box {
      .table-header {
        text-align: center;

        .delivery-time {
          display: block;
          float: none !important;
        }
      }

      .payment-method-form {
        .radio {
          padding: 10px 0;

          label .glyphicon {
            left: 0;
          }
        }
        
        .panel-collapse {
          padding: 10px 0;

          .payment-methods-list {
            text-align: center;
            zoom: .55;
          }

          .credit-card {
            margin: 0 auto;
            zoom: .7;

            .form-group {
              display: inline-block;
              margin: 0;
              
              .form-control {
                display: inline-block;
                width: inherit;
              }
            }
          }
        }
      }
    }
  }

  .popover {
    width: 300px;
  }
}