.panel-group.steps-accordion {
  .panel-default {
    background-color: transparent;
    border: 0;
    .box-shadow(none);

    &.error {
      & > .panel-heading .panel-title .glyphicon-remove {
        display: inline-block;
      }
    }
    
    &.ok {
      & > .panel-heading .panel-title .glyphicon-ok {
        display: inline-block;
      }
    }

    & > .panel-heading {
      background-color: transparent;
      border: 0;
      margin-bottom: 20px;

      .panel-title {
        font-size: 18px;

        .glyphicon {
          display: none;
        }

        a:hover,
        a:active,
        a:focus {
          text-decoration: none;
        }

        span {
          font-size: 14px;
        }

        .edit {
          color: @gris;
          font-size: 13px;
          letter-spacing: 2px;
        }
      }

      & + .panel-collapse {
        & .panel-body {
          border-top: 0;
          padding: 0;

          .nav-tabs {
            border-bottom: 0;

            & > li {
              background-color: @gris_claro_mas;
              text-align: center;
              width: 50%;
              
              & > a {
                border: 0;
                border-radius: 0;
                margin: 0;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 3px;
                color: @blanco;
                text-transform: uppercase;

                &:hover {
                  background-color: @gris_claro;
                }
              }

              &.active {
                background-color: @gris_claro;
                
                & > a,
                & > a:hover,
                & > a:focus {
                  background-color: @blanco;
                  border: 0;
                  color: @gris;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .box {
      .subtitle {
        .subtitle();
      }

      a {
        color: @azul;
        text-decoration: none;

        &:hover {
          color: darken(@azul, 10%);
        }
      }

      .well.well-sm {
        font-size: 12px;
      }

      .table-header {
        border-bottom: 2px solid @gris;
        margin-bottom: 10px;

        .subtitle {
          text-align: left;
          display: inline;
          margin-bottom: 0;
        }

        .delivery-time {
          color: @gris_oscuro;
          em {
            font-weight: 700;
            font-style: normal;
          }
        }
      }

      table {
        & > thead {
          & > tr {
            & > th {
              font-weight: 300;
            }
          }
        }

        & > tbody {
          & > tr {
            & > td {
              vertical-align: middle;

              &.warning-alert {
                border-top: 0;

                .alert {
                  margin-bottom: 0;
                  padding: 5px 15px;
                }
              }

              &.price {
                .price();
                text-align: center;
                .old-price {
                  font-size: 14px;
                  display: initial;
                  margin: 0;
                  padding: 0;
                }
                .last-price {
                  font-size: 14px;
                  display: block;
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .coupon-form {
        margin-bottom: 20px;
        text-align: center;
      }

      .alert {
        .close{
          border: 0;
          color: @gris;
          font-weight: 700;
          text-decoration: uppercase;

          &:hover {
            background-color: transparent;
            color: @gris_oscuro;
          }
        }
      }

      .footer-price {
        border-top: 1px solid @gris_claro_mas;

        p {
          margin: 10px 0 0;
          text-align: right;
        }
      }

      .shipping-company-list {
        .company {
          margin-bottom: 10px;
          text-align: center;

          label {
            padding: 0;

            input[type="radio"] {
              margin: 0;
              opacity: 0;
              height: 25px;
              width: 25px;

              &:checked + .company-content {
                border-radius: 5px;
                box-shadow: 0 0 0 3px @azul;

                .check-thick {
                  opacity: 1;
                }
              }
            }

            .company-content {
              height: 200px;
              padding: 10px;
              width: 195px;

              .check-thick {
                opacity: 0;
                width: 20px;
                height: 20px;
                margin: 0 auto;
                background-color: @azul;
                border-radius: 50%;
                margin-bottom: 20px;

                .glyphicon {
                  color: @blanco;
                  font-size: 13px;
                }
              }

              .logo {
                background: url('../../imagenes/iconos/shipping-companies.gif') no-repeat;
                display: block;
                margin: 0 auto 20px;
                width: 100px;
                height: 40px;
              }

              .name {
                display: block;
                font-weight: 700;
              }

              .price {
                display: block;

                &:after {
                  content: '*';
                }
              }

              .mozo {
                margin-bottom: 0;

                label {
                  font-size: 12px;
                  margin-left: 20px;
                }
              }
            }

            &.asm .logo {
              background-position: 0px 0px;
            }
            
            &.dhl .logo {
              background-position: 0px -40px;
            }
            
            &.seur .logo {
              background-position: 0px -80px;
            }

            &.rhenus .logo {
              background-position: 0px -120px;
            }
          }
        }
      }

      .payment-method-form {
        .radio {
          margin-bottom: 0;
          padding: 10px 25px;

          label {
            input[type="radio"] {
              opacity: 0;

              &:checked {
                color: @azul;
                position: relative;
                transform: .3s;

                & + .glyphicon {
                  display: block;
                }

                & + .glyphicon + .title {
                  color: @azul;
                  margin-left: 5px;
                }
              }
            }

            .glyphicon {
              color: @azul;
              display: none;
              position: absolute;
              left: 20px;
              top: 15px;
              line-height: 19px;
            }

            .title {
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 2px;
              color: @gris;
            }

            &:hover {
              .title {
                color: @azul;
              }
            }
          }
        }

        .panel-collapse {
          padding: 10px 25px;

          .payment-methods-list {
            font-size: 0;

            li {
              background-image: url('../../imagenes/iconos/payment-methods-white.jpg');
              display: inline-block;
              height: 40px;
              width: 90px;

              &.visa {
                background-position: 0 0;
              }
              &.visa-electron {
                background-position: -90px 0;
              }
              &.mastercard {
                background-position: -180px 0;
              }
              &.maestro {
                background-position: -270px 0;
              }
              &.american-express {
                background-position: -360px 0;
              }
              &.skrill {
                background-position: -450px 0;
              }
              &.ideal {
                background-position: -300px 0;
              }
              &.giropay {
                background-position: -350px 0;
              }
              &.postepay {
                background-position: -400px 0;
              }
              &.trustly {
                background-position: -810px 0;
              }
              &.aplazame {
                background-position: -900px 0;
              }
              &.sofort-banking {
                background-position: -990px 0;
              }
              &.cb {
                background-position: -150px -30px;
              }
              &.eps {
                background-position: -200px -30px;
              }
              &.bank-transfer {
                background-position: -1260px -0;
              }
              &.cod {
                background-position: -1350px 0;
              }
            }
          }
        }
      }
    }
  }  
}

.total {
  color: @negro;
  font-size: 16px;
}

.secure-warning {
  color: @gris;
  
  .secure-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .secure-text {
    font-size: 11px;
    margin-bottom: 0;
  }
}

.button-place {
  .btn {
    margin: 10px 0;
    width: 100%;
  }
}

// Resume
.resume {
  h4 {
    color: @gris_oscuro;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 10px 15px;
  }

  &.affix {
    top: 100px;
  }

  .box {
    .well.well-sm {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #31708f;

      p {
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
      }

      ul {
        font-size: 12px;
      }
    }

    .table-resume {
      & > tbody {
        & > tr {
          & > td {
            font-size: 12px;
            padding: 10px 5px;
            vertical-align: top;
          }

          &.coupon,
          &.shipping,
          &.total {
            text-transform: uppercase;

            td {
              border-top: 1px solid @gris_claro;

              label, span {
                text-transform: none;
              }
            }
          }

          &.total {
            td {
              color: @negro;
              font-size: 16px;
              text-transform: none;
            }
          }
        }
      }
      th {
        font-size: 11px;
        font-weight: 300;
      }
    }

    small {
      color: @gris_claro;
      display: block;
    }

    .invoice-form {
      border-bottom: 1px solid @gris_claro;
    }
  }

  .confirm-button {
    display: block;
    margin: 0 auto 20px;
  }

  .secure-warning {
    margin: 0 auto;
  }
}

.box {
  background-color: @blanco;
  color: @gris;
  margin-bottom: 20px;
  padding: 15px;
}

.acceptation {
  font-size: 12px;
  padding: 10px;
}

.secure-warning {
  display: table;

  .media-body {
    min-width: 200px;
    width: auto;

    p {
      display: inline;
    }
  }
}

.popover {
  font-size: 12px;
  width: 500px;
}

@media (max-width: @md-max) {
  .panel-group.steps-accordion .panel-default .box .shipping-company-list .company label .company-content {
    width: 175px;
  }
}

@media (max-width: @sm-max) {
  .panel-group.steps-accordion .panel-default .box .shipping-company-list .company label .company-content {
    width: 200px;
  }

  .last-step {
    .total {
      margin-bottom: 20px;
      text-align: center;
    }

    .secure-warning {
      margin: 0 auto;
    }
  }

  .secure-warning {
    margin-bottom: 20px;
  }

  .button-place {
    display: block;
    padding-left: 0;
  }
}

@media (max-width: @xs-max) {
  .popover {
    width: 300px;
  }
}