// Cabecera azul de la parte superior
////////////////////////////////////////////////////////////////
.topbar,
.header-in-footer {
  z-index: 100;
  background-color: @azul;
  font-size: 13px;
  color: @blanco;
  padding-top: 5px;
  padding-bottom: 3px;
  
  .left {
    text-align: left;
    @media (max-width:@screen-sm-max) {
      text-align: center;
      margin-bottom: 5px;
    }
  }
  
  .right {
    text-align: right;
    @media (max-width:@screen-sm-max) {
      text-align: center;
    }
  }
  
  a,
  .dropdown {
    display: inline-block;
    color: @blanco_roto;
    padding: 0 7px 0 0;
    margin: 0 7px 0 0;
    border-right: 1px solid @blanco;
    text-decoration: none;
    
    &:hover {
      color: @blanco;
      text-decoration: none;
    }
    &:last-child {
      padding: 0;
      margin: 0;
      border: 0;
    }

    @media (max-width: @screen-md-max) {
      padding: 0 4px 0 0;
      margin: 0 4px 0 0;
    }

    @media (max-width: @screen-xs-max) {
      padding: 0 4px 0 0;
      margin: 5px 0;
    }
  }
  
  .dropdown,
  .dropup {
    display: inline-block;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid @blanco;

    .dropdown-toggle {
      background-color: transparent;
      border: 0;
      color: @blanco_roto;
      font-size: 13px;
      padding: 0;
      vertical-align: top;

      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: @blanco;
        text-decoration: none;
      }
    }

    .dropdown-menu {
      background-color: @azul;
      padding: 10px;
      width: 200px;

      .form-group {
        margin-bottom: 5px;

        label {
          color: @blanco_roto;
        }     
      }

      li {
        list-style: none;  
        
        a {
          display: block;
          font-size: 13px;
          margin-bottom: 10px;
        }
      } 

      a {
        border: 0;
        color: @gris_claro_mas;

        &:hover,
        &:active,
        &:focus,
        &:visited {
          color: @blanco_roto;
          text-decoration: none;
        }
      }

      .franja-horaria {
        padding: 0 0 10px;

        label {
          display: block;
          font-size: 13px;
          font-weight: 400;
        }
      }

      .btn {
        display: block;
        margin: 0 auto;
      }
    }
    
    &.log-option {
      vertical-align: top;

      .login-dropdown {
        .dropdown-toggle {
          vertical-align: top;
        }

        .dropdown-menu {
          width: 600px;

          @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            left: -300px;
          }

          @media (max-width: @screen-xs-max) {
            width: 250px;
          }

          .title {
            color: @blanco;
            font-size: 16px;
            letter-spacing: 4px;
            line-height: 25px;
            margin-bottom: 20px;
          }

          .subtitle {
            color: @blanco;
            font-size: 13px;
            letter-spacing: 2px;
            margin: 10px 0;
            text-align: center;
          }

          .btn {
            letter-spacing: 0.5px;
            margin-bottom: 20px;
            padding: 6px 12px;
          }
        }
      }

      .user-dropdown {
        .dropdown-toggle {
          max-width: 130px;
          padding: 0 10px 0 0;
          overflow: visible;
          overflow-x: hidden;
          overflow-y: hidden;
          text-overflow: ellipsis;
          width: auto;
          -ms-overflow-style: none;

          .caret {
            position: absolute;
            right: 3px;
            top: 9px;
          }
        }
      }
    }
  }

  .language,
  .log-option {
    .dropdown-menu {
      width: 150px;
      
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          display: block;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      float: none !important; 
    }
  }

  .language {
    border: 0;
  }
}

body {
  .log-option {
    .user-dropdown {
      display: none;
    }
  }
  &.logged {
    .log-option {
      .login-dropdown {
        display: none;
      }
      .user-dropdown {
        display: block;
      }
    }
  }
}

// Cabecera gris con menu, carrito, usuario, buscar...
////////////////////////////////////////////////////////////////
.topmenu {
  border-radius: 0;
  transition: all .3s ease;
  background: @blanco_roto;
  width: 100%;
  z-index: 2;

  a,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }

  .navbar-header {
    float: none;
    padding: 0px 15px;
    text-align: left;

    .navbar-toggle {
      z-index: 1;
    }

    & > .dropdown {
      display: inline-block;
      position: inherit;
      text-align: left;
    }

    @media (min-width: @screen-sm-min) {
      padding: 5px 0;
    }
  }

  .navbar-brand {
    height: auto;
    margin-left: 0 !important;
    padding: 10px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);

    .logo {
      display: inline-block;
    }
    
    .logotipo {
      transition: transform .2s ease;
      display: inline-block;
      width: 120px;
      height: auto;

      &.collapsed {
        display: none;
      }

      @media (max-width:@screen-sm-max) {
        width: 100px;
        height: auto;
      }
      
      @media (max-width:@screen-xs-max) {
        width: 75px;
      }
    }
  }

  .navbar-nav {
    height: 90px;
    padding: 10px 0;

    &.navbar-right {
      padding: 20px 0;
    }

    @media (max-width: @screen-xs-max) {
      height: auto;
    }
  }


  .imagen-login {
    width: 130px;
  }
     
  .dropdown {
    vertical-align: top;

    .categorias,
    .search {
      display: inline-block;
      vertical-align: middle;
      font: 18px @mainFont;
      font-weight: 700;
      color: @gris_oscuro;
      margin: 8px 10px 8px 0;
      text-transform: uppercase;
      padding: 0;
      width: auto;
      
      &:hover {
        .icon-menu {
          .glyphicon {
            color: @gris_oscuro;
          }
        }
      }

      span {
        vertical-align: top;
        line-height: 45px;
      }

      @media (max-width: @screen-sm-max) {
        & > span {
          display: none;
        }      
      }

      @media (max-width: @screen-xs-max) {
        margin: 8px 10px 8px 0;
      }
    }
    
    .icon-menu {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 44px;
      margin-left: 10px;
      text-align: center;
      background-color: @blanco;
      border-radius: 50%;

      .glyphicon {
        color: @gris_claro;
        font-size: 16px;
        line-height: 44px;

        @media (max-width: @screen-xs-max) {
          line-height: 34px;
        }
      }

      @media (max-width: @screen-xs-max) {
        display: block;
        margin: 0 auto;
        width: 34px;
        height: 34px;
      }
    }
    
    .subcategorias {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      text-align: left;
      
      .dropdown {
        display: inline;
        position: relative !important;

        .dropdown-menu {
          background-color: @azul;
          padding: 10px;
          
          ul {
            list-style: none;
            padding-left: 0px;

            li {
              
              a {
                color: @blanco_roto;
                font-weight: 400;
                line-height: 20px;

                &:hover,
                &:active,
                &:focus,
                &:visited {
                  color: @blanco;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      a, button {
        background-color: transparent;
        border: 0;
        display: block;
        font-size: 13px;
        font-weight: 700;
        color: @gris_oscuro;
        line-height: 10px;
        margin-bottom: 5px;
        padding: 0;
        
        &.rojo {
          color: @rojo;
          &:hover {
            color: lighten(@rojo, 10%);
          }
        }
        
        &.azul:hover {
          color: @azul;
        }
        
        &.verde:hover {
          color: @verde;
        }

        &.naranja:hover {
          color: @naranja;
        }

        &:hover {
          text-decoration: none;
        }
      }

      @media (max-width: @screen-xs-max) {
        display: none;
      }
    }

    .dropdown-search {
      margin: 0;
      width: 100%;

      .search {
        margin: 8px 0;
        padding: 0 10px;
        width: 100%;

        .input-group {
          display: table;
          margin: 0 auto;

          .input-search {
            border: 1px solid @gris_claro;
            font-weight: 400;
            width: 220px;
          }
          .input-group-btn {
            line-height: inherit;

            .btn-search {
              border: 1px solid @gris_claro;
              border-left: 0;
              vertical-align: top;
            }  
          }
        }
      }
    }
  }
  
  .btn-menu,
  .btn-login,
  .btn-cart {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 8px 10px 8px 0;
    background-color: @blanco;
    height: 44px;

    img {
      height: 25px;
      margin: 8px 10px;

      @media (max-width: @screen-xs-max) {
        height: 20px;
        margin: 6px;
      }
    }

    @media (max-width: @screen-xs-max) {
      background-color: transparent;
      font-size: 0;
      height: 34px;
      margin: 8px 0px;
    }
  }

  .btn-cart {
    @media (max-width: @screen-xs-max) {
      img {
        background-color: @blanco;
        margin: 0;
        height: 100%;
        padding: 6px;
        border-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .cart-container {
    display: inline-block;
    float: right;
    margin-left: 5px;
    position: relative;
  }
  
  .btn-menu {
    margin-left: 0;
  }
  
  .badge {
    position: absolute;
    right: -10px;
    top: -5px;
    background: @naranja;

    @media (max-width: @screen-xs-max) {
      position: inherit;
      height: 100%;
      line-height: 25px;
      right: 0;
      top: 0;
      border-radius: 15px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .more-options {
    float: right;
    margin: 8px 5px;

    &:focus {
      outline: none;
    }

    .dropdown-toggle {
      display: inline-block;
      vertical-align: middle;
      font: 18px 'Titillium Web','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-weight: 700;
      color: #4a4a4a;
      text-transform: uppercase;
      padding: 0;
      margin: 0;

      &:hover {
        color: @azul;

        .icon-menu {
          .glyphicon {
            color: @gris_oscuro;
          }
        }
      }

      &:focus,
      &:active {
        outline: none;
      }
    
      .icon-menu {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 44px;
        margin-left: 10px;
        text-align: center;
        background-color: @blanco;
        border-radius: 50%;

        &:focus,
        &:active {
          outline: none;
        }

        .glyphicon {
          color: @gris_claro;
          font-size: 16px;
          line-height: 44px;

          @media (max-width: @screen-xs-max) {
            line-height: 32px;
          }
        }

        @media (max-width: @screen-xs-max) {
          display: block;
          margin: 0 auto;
          width: 32px;
          height: 32px;
        }
      }
    }

    .more-options-dropdown {
      margin: 0;
      padding: 0;
      width: 100%;

      .more-options-list {
        padding: 0;

        .log-option {
          .user-dropdown {
          }
        }

        li {
          display: block;
          vertical-align: top;
          margin: 0;
          width: 100%;
          text-align: center;
          padding: 10px 0 5px;
          position: relative;

          &.header {
            background-color: @gris_claro_mas;

            a {
              color: @blanco;
              font-size: 13px;
              letter-spacing: 1px;
            }
          }

          & > a,
          .toggle-info {
            color: @negro;
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            text-transform: uppercase;
          }
        }

        .submenu {
          margin-top: 5px;
          padding: 20px 15px 10px;

          .btn {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .search {
    border: 0;
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 8px 5px;
    font-size: 0;
    width: 160px;

    label.error { // hide error label
      display: none !important;
    }

    .input-group {
      display: flex;
      font-size: 0;

      .input-search {
        border: 0;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        box-shadow: none;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0;
        height: 44px;
        color: #CDCDCD;
        text-indent: 10px;

        @media (min-width: @screen-xs-min) {
          width: 120px;
        }
      }

      .input-group-btn {
        display: inline-block;
      }

      .btn-search {
        .appearance(none);
        border: 0;
        background: @blanco;
        height: 44px;
        cursor: pointer;
        margin: 0;
        padding: 0;
        font-size: 0;
        border-radius: 0;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;

        img {
          height: 20px;
          margin: 0 10px;
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      margin: 8px 5px;
      
      .input-group {
        .input-search {
          height: 34px;
        }
        
        .btn-search {
          height: 34px;
        }
      }
    }
  }

  // Consulta el estado de tu pedido
  ////////////////////////////////////////////////////////////////
  .status {
    display: inline-block;
    color: @rojo;
    float: right;
    font-size: 11px;
    letter-spacing: 0.91px;
    line-height: 13px;
    margin: 8px 5px;
    text-align: right;
    text-transform: uppercase;
    border: 1px solid @gris_claro_mas;
    border-width: 0 1px 0 0;

    @media (max-width: @screen-sm-max) {
      vertical-align: middle;
    }

    @media (max-width: @screen-xs-max) {
      display: none;
    }
    
    .text {
      display: inline-block;
      margin: 3px 0;
      vertical-align: middle;
      width: 120px;
    }
    
    img {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      padding-top: 10px;
      float: right;

      @media (max-width: @screen-xs-max) {
        padding-top: 2px;
      }
    }
    
    &:hover {
      color: darken(@rojo, 20%);
      
      img {
        animation: shake .4s ease-in-out;
      }
    }
  }

  // user cart
  ////////////////////////////////////////////////////////////////
  .my-cart {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;

    .dark-layer {
      z-index: 5;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.3);
    }

    .content {
      background-color: @blanco;
      border-radius: 10px;
      .box-shadow(0 0px 12px rgba(0,0,0,0.175));
      max-height: 530px;
      overflow-y: scroll;
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      z-index: 6;

      @media (max-width: @screen-xs-max) {
        width: 100%;
      }

      .loader {
        margin: 15px auto;
        display: block;
      }
    }

    .header {
      padding: 10px 20px;
      text-align: center;

      .close {
        width: 20px;
      }

      .icon {
        height: 25px;
        margin-right: 1px;
        margin-top: 2px;
      }

      .title {
        font-size: 14px;
        letter-spacing: 2px;
      }
    }

    .outlet-warning-text {
      p {
        margin-bottom: 0;
        padding: 10px;
        text-align: center;

        &.title {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
      }
    }

    .item {
      background-color: @blanco_roto;
      margin-top: 0;
      padding: 10px 20px;
      text-align: left;
      transition: .3s;

      &:nth-of-type(odd) {
        background-color: darken(@blanco_roto, 5%);
        
        &:hover {
          background-color: darken(@blanco_roto, 8%);
        }
      }

      &:hover {
        background-color: darken(@blanco_roto, 3%);
      }

      .media-left {
        padding-right: 5px;

        .close {
          width: 20px;
        }
      }

      .nombre {
        display: block;
        font-weight: 700;
      }

      .finish {
        color: @gris_claro;
        display: block;
      }

      .price {
        .price();
        margin: 0;

        .last-price {
          font-size: 18px;
          line-height: 16px;
          margin-right: 2px;

          .cents,
          .currency {
            font-size: 14px;
          }

          @media (max-width: @screen-xs-max) {
            display: table;
            margin-bottom: 5px;
          }
        }

        .old-price {
          font-size: 18px;
          line-height: 16px;
          margin-right: 2px;
          
          .cents,
          .currency {
            font-size: 14px;
          }
          
          @media (max-width: @screen-xs-max) {
            display: table;
            margin-bottom: 5px;
          }
        }

        .discount {
          font-size: 12px;
          line-height: 16px;
          padding: 0 5px;

          @media (max-width: @screen-xs-max) {
            display: table;
            margin-bottom: 5px;
          }
        }
      }

      .units {
        font-size: 0;
        padding-left: 5px;
        text-align: center;
        min-width: 56px;

        .units-title {
          color: @gris_claro;
          display: block;
          font-size: 10px;
          letter-spacing: 1px;
          margin-bottom: 5px;
          text-transform: uppercase;
        }

        button {
          font-size: 10px;
          padding: 3px;
          line-height: 6px;
          background: @blanco;
          height: 13px;
          width: 13px;

          &:hover {
            border-color: @gris_oscuro;
            color: @gris_oscuro;
          }
        }

        .number {
          color: @gris_oscuro;
          font-size: 18px;
          font-weight: 700;
          margin: 0 2px;
          vertical-align: bottom;
          display: inline-block;
          line-height: 13px;
        }
      }
    }

    .empty-cart {
      p {
        text-align: center;
      }
    }

    .footer {
      padding: 10px 0;
      text-align: center;

      p {
        color: @gris_claro;
        display: block;
        font-size: 10px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        text-transform: uppercase;
        
        &.subtotal {
          color: @gris_oscuro;
        }
      }

      .price {
        font-size: 24px;
        display: block;
        vertical-align: bottom;

        &.saved {
          color: @gris_claro;
          line-height: 37px;
        }

        &.subtotal {
          color: @gris_oscuro;
          line-height: 35px;
        }
      }

      .vat-text {
        text-transform: none;
      }

      .go-checkout-btn {
        display: block;
        margin: 0 auto;
        width: 60%;
      }

      .continue-shopping-btn {
        color: @azul;
      }
    }

    @media (max-width: @screen-xs-max) {
      width: 100%;
      min-width: 320px;
      right: -15px;
    }
  }

  // Fixed header when scroll down
  ////////////////////////////////////////////////////////////////
  &.fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    margin-bottom: 0;
    min-height: auto;
    padding: 0;
    box-shadow: 0 0 25px fadeout(@negro, 80%);

    @media (min-width: @screen-sm-min) {
      .logotipo {
        display: none;

        &.collapsed {
          display: block;
          height: 20px;
          width: auto;
          transform: rotate(360deg);
          transition: 1s;
        }
      }

      .dropdown .categorias {
        display: none;
      }
    }

    .navbar-nav {
      height: auto;
      padding: 5px 0;

      &.navbar-right {
        padding: 5px 0;
      }
    }

    a.status {
      margin: 3px 5px;

      .text {
        line-height: 11px;
        margin: 0;
        width: 140px;

        @media (max-width: @screen-md-max) {
          font-size: 10px;
          letter-spacing: .5px;
        }
      }
      
      img {
        padding-top: 0px;
      }
    }
    
    @media (min-width: @screen-sm-min) {
      .navbar-header { 
        height: auto;
        padding: 5px 0 5px 15px;
      }

      .subcategorias {
        display: block;
        line-height: 13px;
        margin: 3px 0;
        text-align: left;
        vertical-align: inherit;
        
        a, button {
          display: inline-block;
          line-height: 22px;
          margin-bottom: 0;
          margin-right: 5px;
          vertical-align: top;
          max-width: none;
          text-overflow: initial;
        }
      }

      .search {
        margin: 3px 5px;

        .input-search {
          height: 22px;
          font-size: 13px;
        }
        
        .btn-search {
          top: 0px;
          right: 5px;
          height: 22px;
          
          img {
            width: auto;
            height: 16px;
          }
        }
      }
      
      .btn-cart {
        background-color: #fff;
        border: 1px solid @naranja;
        border-radius: 11px;
        height: 22px;
        margin: 3px 10px 3px 0;
        position: relative;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }

        img {
          width: auto;
          height: 16px;
          margin: 0px 10px 2px 10px;
        }

        .badge {
          border-radius: 11px;
          height: 20px;
          line-height: 16px;
          margin-right: -1px;
          padding: 2px 7px;
          position: initial;
          vertical-align: top;
        }
      } 
    }

    & + .container section:first-child {
      padding-top: 150px;
    }
    & + .container .breadcrumb {
      padding-top: 100px;
    }

    @media (max-width: @screen-xs-max) {
      & + .container section:first-child {
        padding-top: 100px;
      }
      & + .container .breadcrumb {
        padding-top: 100px;
      }      
    }

    // con la cabecera fija, el submenu debajo y fijo también
    ////////////////////////////////////////////////////////////////
    .dropdown .dropdown-menu.menu-subcategorias {
      margin: 0;

      @media (min-width: @screen-sm-min) {
        background-color: @gris_claro;
        border: 0;
        border-radius: 0;
        display: block;
        padding: 0;
        z-index: 4;

        & > li {
          border: 0;
          width: auto;
          height: auto;
          padding: 0;

          &:hover {
            border: 0;
          }

          a.category {
            margin: 0 3px;
            padding: 3px 10px;

            &:hover,
            &:focus {
              background-color: @gris;
              border: 0;
            }

            img {
              display: none;
            }

            .text {
              color: @blanco;
              font-size: 11px;
              font-weight: 400;
              margin: 0;

              .glyphicon {
                display: inline-block;
                font-size: 7px;
                top: 0px;
                margin-left: 2px;
              }
            }
          }

          .submenu {
            margin: 0;
          }
        }
      }  
    }
  }
}
