// Base ======================== //
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x:  hidden;

  &.blocked {
    overflow: hidden;

    .ui-blocker {
      display: block !important;
    }
  }

  &.disable-scroll {
    height: 100%;
    overflow: hidden;
    position: fixed;
  }
}

p {
  font-size: 1.3rem;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

h4 {
  .titularNegroEspaciado;
}

section {
  padding: 50px 0px;

  &.less-padding-top {
    padding: 25px 0 50px;
  }

  &.less-padding-bottom {
    padding: 50px 0 25px;
  }

  @media (max-width: @screen-xs-max) {
    padding: 20px 0;
  }
}

select {
  background: url(../../imagenes/select-bg.svg) right center no-repeat;
  background-image: url(../../imagenes/select-bg.svg) !important;
}

button {
  outline: 0;
}

.m-bottom-20 {
  margin-bottom: 20px;
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-10 {
  margin-top: 10px;
}

.title {
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 20px 0 35px;
  font-family: @mainFont;
  font-size: @font_xbig;
  font-weight: 700;
  line-height: 31px;
  color: @gris_oscuro;
  text-align: center;

  @media (max-width: @screen-xs-max) {
    margin: 10px 0 20px;
  }
}

.subtitle {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 10px 0 15px;
  font-family: @mainFont;
  font-size: @font_standar;
  font-weight: 700;
  line-height: 20px;
  color: @gris_oscuro;
  text-align: left;

  @media (max-width: @screen-xs-max) {
    margin: 5px 0 10px;
  }
}

.text .subtitle {
  letter-spacing: 2px;
  margin: 20px 0 5px;
  font-size: 1.4rem;  
}

// Preloader ======================== //
.blockUI {
  border: 0 !important;
}

.ui-blocker {
  background-color: rgba(0,0,0,0.2);
  cursor: wait;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  
  .thecube {
    width: 75px;
    height: 75px;
    position: relative;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
    vertical-align: middle;
    top: 50%;
    left: 50%;

    .cube {
      position: relative;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    .cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: @azul;
      -webkit-animation: foldthecube 2.4s infinite linear both;
      animation: foldthecube 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    .c2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
      transform: scale(1.1) rotateZ(90deg);
    }

    .c3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
      transform: scale(1.1) rotateZ(180deg);
    }

    .c4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
      transform: scale(1.1) rotateZ(270deg);
    }

    .c2:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }

    .c3:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    .c4:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }

    @keyframes foldthecube {
      0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      }

      25%,
      75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      }

      90%,
      100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }
  }
}

// Contextual classes ======================= //
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  padding: 15px;
}

// Fondos ======================= //
.bgDark {
  background-color: @blanco_roto;
}

// Formas ======================= //
.triDown() {
  content: "";
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: #ffffff transparent transparent transparent;
}

// Doofinder plugin
.df-card__price {
  display: none;
}

// Countdown
.countdown {
  display: none;
}

// Overwritting old styles heredated from main.css
a,abbr,acronym,address,blockquote,button,caption,cite,code,dd,del,dfn,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,img,label,legend,li,ol,p,pre,q,s,samp,small,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

select {
  .appearance();
}

.thecontent input {
  height: auto;
  min-height: 30px;
}

.footer-enlaces {
  margin-bottom: 20px;
  
  .enlaces {
    a {
      text-decoration: none;
    }
  }
}

.contents-pasos .box_pasos:after {
  @media (min-width: @screen-lg-min) {
    margin-left: 170px !important;
  }
}

.login .yacliente {
  @media (max-width: @screen-xs-max) {
    margin-bottom: 50px;
  }
}

#registro select,
.direccion_envio select {
  width: 262px;
}

#checkout .select_opcion {
  margin-top: 0 !important;

  select {
    width: 100% !important;
  }
}