// Colores ===================== //
@blanco: rgb(255,255,255);      // #ffffff
@blanco_roto: rgb(242,242,242); // #f2f2f2
@gris_claro_mas: rgb(216,216,216); // #d8d8d8
@gris_claro: rgb(175,175,175);  // #afafaf
@gris: rgb(110,110,110);        // #6e6e6e
@gris_oscuro: rgb(74,74,74);    // #4a4a4a
@negro: rgb(0,0,0);             // #000000

@azul: rgb(0,174,220);          // #00aedc
@rojo: rgb(219,56,59);          // #db383b
@verde: rgb(47,163,20);         // #2fa314
@naranja: rgb(241,161,16);      // #f1a110

// Medidas
@margenRem: 0.9375rem;

// Tipografia ================== //
@mainFont: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font_mini: 11px;
@font_small: 13px;
@font_standar: 16px;
@font_big: 20px;
@font_xbig: 22px;
@line_height: 24px;

// Media queries =============== //
@xxs:     479px; // disabled
@xs:      767px;
@sm:      991px;
@md:      1199px;

@xxs-max: @xxs;
@xs-max:  @xs;
@sm-max:  @sm;
@md-max:  @md;

@xs-min:  (@xxs + 1);
@sm-min:  (@xs + 1);
@md-min:  (@sm + 1);
@lg-min:  1200;