.banners-principales {
  padding-bottom: 0;

  a {
    display: block;
    margin-bottom: 25px;

    img {
      margin: 0 auto;
    }
  }

  .row:first-child {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      margin-bottom: 12px;
    }
    
    a {
      &.no-countdown {
        padding-bottom: 52px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-bottom: 12px;
      }
    }

    & > img {
      margin: 0 auto;
    }
  }
}

.banners-principales,
.category {
  .countdown {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-family: @mainFont;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: @rojo;
    
    div {
      display: inline-block;
      margin-right: 10px;
      line-height: 25px;
    }
    
    span {
      display: block;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      color: @gris_oscuro;
      border-top: 1px solid @gris_claro;
      line-height: 17px;
    }
  }
}

.banners-especial {
  padding: 20px 0;
  text-align: center;

  .banner {
    .banner-img {
      margin-bottom: 10px;
      position: relative;

      img {
        width: 100%;
      }
      
      .titulo {
        .tituloBanner();
        height: 100%;
        left: 50%;
        padding-top: 10px;
        position: absolute;
        top: 0%;
        .translate(-50%, 0%);
        width: 100%;
        .textoSombra();
        
        span {
          display: block;
          font-size: 30px;
          font-weight: 700;

          @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            font-size: 22px;
            line-height: 20px;
          }
          @media (max-width: @screen-xs-max) {
            font-size: 22px;
            line-height: 20px;
          }
        }

        .footer-text {
          background-color: rgba(0,0,0,.5);
          color: @blanco;
          display: block;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          .textoSombra();
          position: absolute;
          bottom: 0;
          left: 0;
          text-transform: uppercase;
          width: 100%;
        }

        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          padding-top: 5px;
        }
        @media (max-width: @screen-xs-max) {
          padding-top: 5px;
        }
      }

      @media (max-width: @screen-sm-max) {
        margin: 0 auto 10px;
        max-width: 410px;
      }
    }  
    
    .boton {
      .botonCTA();
      margin-top: 10px;
      margin-bottom: 25px;
      @media (max-width: @screen-xs-max) {
        margin-top: 5px;
        margin-bottom: 30px;
      }
    }

    @media (max-width: @screen-sm-max) {
      margin-bottom: 20px;
    }
  }
}

.btn.title-btn {
  display: table;
  margin: 0 auto;
  min-width: 130px;
}

.title {
  & + .btn.title-btn {
    margin: -30px auto 30px;

    @media (max-width: @screen-xs-max) {
      margin-top: 0;
    }
  }
}

.designers,
.styles,
.colections {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  
  @media (max-width: @screen-xs-max) {
    max-height: inherit;
  }
  
  a {
    display: block;
    margin-bottom: 20px;
    position: relative;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    
    &:hover {
      opacity: 1;
    }

    img {
      height: 77px;
      margin: 0 auto;

      @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
        height: 59px;
      }
      
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 64px;
      }
    }
  }
  
  h6 {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    .transform(translate(-50%,-50%));

    @media (max-width: @screen-xs-max) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.banners {
  .banner {
    position: relative;

    a {
      display: block;
      margin-bottom: 20px;
      position: relative;

      &:hover img {
        .filter(brightness(1.1));
      }
      
      img {
        margin: 0 auto;
        .filter(brightness(1));
        transition: .2s filter linear;
        -webkit-transition: .2s -webkit-filter linear;
        -moz-transition: .2s -moz-filter linear;
        -ms-transition: .2s -ms-filter linear;
        -o-transition: .2s -o-filter linear;
      }

      span {
        .textoBannerInferior();
      }
    }

    &.puntos-de-venta {
      img {
        margin-bottom: 0;
      }

      span {
        max-width: 200px;
      }
    }
  }
}

section {
  .read-more {
    position: absolute;
    bottom: 0;
    min-height: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0 10px;
    opacity: 1;
    transition: opacity 0.5s ease;
    .background-image(linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%));
    
    .toggle-height {
      background: transparent;
      display: block;
      margin: 40px auto 0;
      min-width: 120px;

      &.hide {
        display: none;
      }
    }
  }
}

.texto-seo {
  font-size: 12px;
}