.lateral-content#subscribeNewsletter {
  .coupon-image {
    display: block;
    margin: 0 auto 20px;
    .transform(rotate(3deg));
  }

  .btn {
    margin-bottom: 10px;
    width: 200px;
    margin: 0 auto 10px;
    display: block;
  }

  .step-2 {
    display: none;
  }
}