
.textInput(@bgColor: transparent, @borderColor: @blanco) {
  .appearance(none);
  width: 100%;
  background: @bgColor;
  border: 0;
  outline: 0;
  border-bottom: 2px solid fadeout(@borderColor, 50%);
  margin-bottom: 10px;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder{
    color: fadeout(@blanco, 35%);
  }
  &:focus {
    border-bottom: 2px solid @borderColor;
  }
}