
.producto() {
  display: block;
  font-family: @mainFont;
  background-color: @blanco;
  position: relative;
  padding: 20px 15px 10px;
  border: 1px solid #dcdcdc;
  text-align: center;
  text-decoration: none;

  @media (max-width: @screen-xxs-max) {
    padding: 20px 15px;
  }

  &:hover {
    border: 1px solid @gris_claro;
    box-shadow: 0 .6em 1em rgba(0,0,0,0.25);

    & + .folding {
      overflow: visible;

      .caja {
        box-shadow: 0 .6em 1em rgba(0,0,0,0.25);
        webkit-transition: max-height .3s linear;

        &:hover {
          border: 1px solid @gris_claro;
          border-width: 0 1px 1px;
          box-shadow: 0 .6em 1em rgba(0,0,0,0.25);
        }
      }
    }
  }

  &.mobile {
    border: 1px solid @gris_claro_mas;
    border-bottom: 0;
    box-shadow: none;

    & + .folding {
      height: auto;

      .caja {
        border: 1px solid @gris_claro_mas;
        border-width: 0 1px;
        position: inherit;

        label.error {
          position: absolute;
          top: 0px;
          width: 100%;
          text-align: center;
          height: 32px;
          line-height: 26px;
        }

        .view-more-finishes {
          background-color: white;
          border: 1px solid @gris_claro_mas;
          border-width: 1px 0 0 0 ;
          display: block;
          margin-bottom: 10px;
          text-align: center;
          width: 100%;
          z-index: 1;

          button {
            background-color: @blanco;
            border: 1px solid @gris_claro_mas;
            border-radius: 0 0 5px 5px;
            border-width: 0 1px 1px 1px;
            color: @gris_claro;
            font-size: 1.1rem;
            margin-top: -2px;
            padding: 3px 5px;
            text-transform: uppercase;
            width: initial;

            &:focus,
            &:active,
            &:hover {
              outline: 0;
              text-decoration: none;
            }

            &.more {
              display: inline-block;
            }

            &.less {
              display: none;
            }

            .glyphicon {
              font-size: 1rem;
              vertical-align: top;
              line-height: 10px;
            }
          }

          @media (max-width: @screen-xxs-max) {
            display: none;
          }
        }
      }
    }

    &.show:not(.promo) {
      @media (min-width: @screen-xs-min) {
        & + .folding {
          overflow: visible;

          .caja {
            border: 1px solid @gris_claro;
            border-width: 0 1px;
            position: absolute;

            label.error {
              position: absolute;
              top: 0px;
              width: 100%;
              text-align: center;
              height: 32px;
              line-height: 26px;
            }

            .view-more-finishes {
              button {
                &.more {
                  display: none;
                }

                &.less {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }

  &.show:not(.promo) {
    @media (min-width: @screen-xs-min) {
      border: 1px solid @gris_claro;
      box-shadow: 0 .6em 1em rgba(0,0,0,0.25);
      
      & + .folding {
        overflow: visible;
      }
      // change image on hover effect
      // & > img.primary {
      //   display: none;
      // }

      // & > img.secondary {
      //   display: block;
      // }
    }
  }
  
  & > img {
    display: block;
    margin: 0 auto;
    height: 220px;
    max-width: 100%;
    transition: transform 0.2s ease;

    &.secondary {
      display: none;
    }

    &[src$="loader.gif"] {
      height: 16px;
      width: 28px;

      @media (min-width:@screen-lg-min) {
        margin: 117px auto 102px;
      }
    }
    
    @media (max-width:@screen-md-max) {
      height: 175px;
    }

    @media (max-width:@screen-sm-max) {
      height: auto;
      width: 220px;
    }

    @media (max-width:@screen-xs-max) {
      width: 80%;
    }
  }
}

.nombre() {
  color: @negro;
  font-weight: 400;
  font-size: 1.7rem;
  .box-sizing(border-box);
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 43px;
  margin-bottom: 5px;
  overflow: hidden;
  text-transform: none;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
  @media (max-width:@screen-xxs-max) {
    font-size: 1.8rem;
    line-height: 19px;
    height: 40px;
  }
}

.infoProducto() {
  margin-bottom: 15px;
  @media (max-width:@screen-xxs-max) {
    margin-bottom: 10px;
  }
  .nombre {
    .nombre();
  }
  .categoria {
    color: @gris_claro;
    font-size: 1.1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    @media (max-width: @screen-xxs-max) {
      letter-spacing: 3px;
    }
    @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
      font-size: 1rem;
      letter-spacing: 2px;
    }
  }
}

.precioProducto() {
  color: @rojo;
  font-weight: 700;
  display: block;
  font-size: 2.8rem;
  margin-top: 5px;
}

.percentage() {
  color: @gris;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
  vertical-align: middle;
}

.oldPrice() {
  color: @gris_claro_mas;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: line-through;
  vertical-align: middle;
}

.delivery-time() {
  color: @gris;
  display: block;
  font-size: 1.3rem;
}

.textInfoProducto() {
  background-color: @rojo;
  position: absolute;
  bottom: 0px;
  left: 0;
  color: @blanco;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.listaLabelsProducto() {
  position: absolute;
  top: -8px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline;
  }
}

.label() {
  border-radius: 0;
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: 5px;
  padding: .3em .6em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 12px;

  &.label-inmediato {
    background-color: @verde;
  }
  &.label-nuevo {
    background-color: @azul;
  }
  &.label-units {
    background-color: @rojo; 
  }
  &.label-outlet {
    background-color: @naranja; 
  }
}

// Toggle outlet product grid
body.category {
  .producto-box {
    .lista-labels.outlet {
      display: none;
    }

    .item {
      .outlet-finish {
        display: none;
      }

      .info .categoria {
        display: none;
      }

      .ask-date {
        display: none;
      }
    }  

    .folding .caja .add-product-form {
      .add-to-cart.outlet {
        display: none;
      }

      .acabados {
        display: block;
      }
    }
  }
  
  &.outlet .producto-box {
    .item {
      .lista-labels {
        display: none;

        &.outlet {
          display: block;
        }
      }

      .outlet-finish {
        color: @gris;
        display: inline;
      }

      .ask-date {
        display: inline-block;
      }
    }
      
    .folding .caja {
      .add-product-form {
        .add-to-cart {
          display: none;

          &.outlet {
            display: block;
          }
        }

        .acabados {
          display: none;
        }
      }

      .aviso {
        display: none;
      }

      .medidas {
        height: 40px;
      }
    }
  }
}

// Caja de producto (listado)
////////////////////////////////////////////////////////////////
.producto-box {
  margin-bottom: 25px;
  padding: 0 8px;

  .item {
    .producto();
    
    .info {
      .infoProducto();
    }
    
    .precio {
      .precioProducto();
    }
    
    .discount {
      margin-bottom: 10px;
      line-height: 18px;

      .percentage {
        .percentage();
      }

      .old-price {
        .oldPrice();
      }
    }

    .view-text {
      .titularNegroEspaciado();
      color: @gris_claro;
      display: block;
      font-size: 1.1rem;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 0;
    }

    .delivery-time {
      .delivery-time();
    }

    .text-info {
      .textInfoProducto();
    }
  }
  
  .lista-labels {
    .listaLabelsProducto();
    
    .label {
      .label();
    }
  }

  .folding {
    position: relative;
    box-sizing: content-box;
    margin-top: -0.5em;
    top: .5em;
    width: 100%;
    height: 0;
    overflow: hidden;
    cursor: pointer;

    .caja {
      border: 1px solid @gris_claro;
      border-width: 0 1px 1px 1px;
      box-shadow: 0 .6em 1em rgba(0,0,0,0.25);
      box-sizing: border-box;
      background: #fff;
      position: absolute;
      top: -1px;
      overflow: hidden;
      .transition(max-height .3s linear);
      width: 100%;
      z-index: 5;

      .add-product-form {
        margin: 0 15px;
        position: relative;

        .btn.add-to-cart {
          display: block;
          margin: 0 0 10px;
          text-transform: uppercase;
          font-size: 1.4rem;
          width: 100%;

          @media (max-width: @screen-xs-max) {
            margin: 10px 0 15px;
          }
        }

        .tooltip {
          position: absolute;
        }
      }

      .view-more-finishes {
        display: none;
      }
    }

    .aviso {
      background-color: @gris_claro;
      color: @blanco;
      font-size: 1.1rem;
      padding: 5px 0;
      text-align: center;
      text-transform: uppercase;
    }

    .medidas {
      background-color: @blanco_roto;
      height: 38px;
      padding: 10px 0;
      
      & > div {
        display: inline-block;
        padding: 0;
        color: @gris;
        font-size: 1.3rem;
        text-align: center;

        &.anchura {
          img {
            transform: rotate(90deg);
            margin-right: 10px;
          }
        }

        &.profundidad {
          img {
            transform: rotate(45deg);
          }
        }

        img {
          margin-right: 5px;
        }
      }
    }
  }

  &.promo {
    .item {
      background-color: transparent;
      border: 0;
      padding: 20px 15px 10px;

      &:hover {
        box-shadow: none;

        img.primary {
          box-shadow: 0 0 .5em rgba(0,0,0,.5);
        }

        .btn {
          background: @azul;
        }
      }

      .info {
        margin-bottom: 10px;
        padding: 0;
        
        .nombre {
          font-size: 1.4rem;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        .promo-title {
          background: @azul;
          border: 1px solid darken(@azul, 10%);
          color: @blanco;
          letter-spacing: 0px;
          font-weight: 400;
          font-size: 1.5rem;
          text-transform: uppercase;
        }
      }

      .primary {
        transition: .3s;
        width: 100%;

        @media (max-width: @screen-sm-max) {
          width: 90%;
        }
      }

      .btn {
        margin: 10px 0 0;
        transition: .3s;
      }
    }
  }
}

// Style for product's box when it's a promotion in checkout
.promotion {
  .producto-box {
    margin: 0 auto;
    width: 350px;

    .item {
      margin-bottom: 0;
      padding: 10px;
      position: relative;

      .image {
        padding: 0;
      }

      .info {
        float: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        .nombre {
          height: 60px;
        }
      }
    }
  }
}